<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../../../iron-a11y-announcer/iron-a11y-announcer.html">
<link rel="import" href="../../../d2l-course-image/d2l-course-image.html">
<link rel="import" href="../../../d2l-dropdown/d2l-dropdown-menu.html">
<link rel="import" href="../../../d2l-dropdown/d2l-dropdown-more.html">
<link rel="import" href="../../../d2l-fetch/d2l-fetch.html">
<link rel="import" href="../../../d2l-hm-constants-behavior/d2l-hm-constants-behavior.html">
<link rel="import" href="../../../d2l-icons/d2l-icon.html">
<link rel="import" href="../../../d2l-icons/tier1-icons.html">
<link rel="import" href="../../../d2l-loading-spinner/d2l-loading-spinner.html">
<link rel="import" href="../../../d2l-menu/d2l-menu-item.html">
<link rel="import" href="../../../d2l-menu/d2l-menu-item-link.html">
<link rel="import" href="../../../d2l-offscreen/d2l-offscreen.html">
<link rel="import" href="../../../d2l-organization-hm-behavior/d2l-organization-hm-behavior.html">
<link rel="import" href="../../../d2l-organizations/d2l-organization-info.html">
<link rel="import" href="../../../d2l-tile/d2l-card.html">
<link rel="import" href="../../../d2l-status-indicator/d2l-status-indicator.html">
<link rel="import" href="../../../d2l-organizations/d2l-organization-updates.html">
<link rel="import" href="../../../siren-parser-import/siren-parser.html">
<link rel="import" href="../d2l-user-activity-usage/d2l-user-activity-usage.html">
<link rel="import" href="localize-behavior.html">

<!--
`d2l-enrollment-card`

Polymer-based web component for a course/enrollment card.

@demo demo/d2l-enrollment-card/d2l-enrollment-card-demo.html d2l-enrollment-card
-->

<dom-module id="d2l-enrollment-card">
	<template strip-whitespace>
		<style>
			:host {
				display: block;
				position: relative;
			}

			d2l-card {
				height: 100%;
				/* Prevents long, non-breaking course names from overflowing */
				width: 100%;
			}
			d2l-card[disabled] {
				filter: grayscale(1);
			}
			d2l-card[disabled]:hover,
			d2l-card[disabled]:focus {
				cursor: not-allowed;
			}

			d2l-icon {
				color: white;
				--d2l-icon-width: 18px;
				--d2l-icon-height: 18px;
			}

			.flex {
				display: flex;
			}

			.pin-indicator {
				line-height: 20px;
				opacity: 1;
				background: rgba(0,0,0,0.5);
				border: none;
				border-radius: 5px;
				transition: color 0.5s, background 0.5s, opacity 0.25s, width 0.15s, margin-right 0.25s, padding-left 0.25s, padding-right 0.25s;
				cursor: pointer;
				width: 35px;
				height: 35px;
			}
			.pin-indicator:hover,
			.pin-indicator:focus {
				color: rgba(255,255,255,1);
				background: var(--d2l-color-celestine);
			}

			.menu-area > * {
				margin-right: 12px;
			}

			:host:hover .menu-area > d2l-dropdown-more,
			:host:focus .menu-area > d2l-dropdown-more,
			:host[focused] .menu-area > d2l-dropdown-more {
				opacity: 1;
				margin-top: 12px;
			}

			.overlay {
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: absolute;
				top: 1px;
				height: var(--course-image-height);
				width: calc(100% - 2px);
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				color: white;
				padding: 10px;
				text-align: center;
				background-color: rgba(0,0,0,0.7);
			}
			.overlay[hidden] {
				display: none;
			}

			.image-container {
				height: var(--course-image-height);
				line-height:0;
			}

			.icon-container {
				height: 64px;
				width: 64px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-style: none;
				border-radius: 100px;
				background-color: white;
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				animation-name: container;
				animation-duration: 1s;
				animation-fill-mode: forwards;
			}
			@keyframes container {
				0% { height: 64px; width: 64px; }
				70% { height: 64px; width: 64px; opacity: 1; }
				90% { height: 80px; width: 80px; opacity: 0.4 }
				100% { height: 20px; width: 20px; opacity: 0; }
			}

			.checkmark {
				color: var(--d2l-color-olivine);
			}
			.fail-icon {
				color: #ffce51;
			}
			.checkmark,
			.fail-icon {
				display: flex;
				animation-name: inner;
				animation-duration: 1s;
				animation-fill-mode: forwards;
			}
			@keyframes inner {
				0% { transform: scale(1); }
				15% { transform: scale(2.30); }
				20% { transform: scale(2.0); }
				100% { transform: scale(2.0); }
			}

			.alert-colour-circle {
				height: 20px;
				width: 20px;
				border-radius: 20px;
				border: 3px solid white;
				background-color: #ffce51;
				position: absolute;
				top: -6px;
				right: -6px;
			}
			[dir="rtl"] .alert-colour-circle {
				right: auto;
				left: -6px;
			}
			.content-flex {
				overflow: hidden;
				word-wrap: break-word; /* IE/Edge */
				overflow-wrap: break-word; /* replaces 'word-wrap' in Firefox, Chrome, Safari */
				display: flex;
				flex-direction: column;
				width: 100%;
				text-align: center;
			}
			.badge {
				background-color: #FFFFFF;
				box-shadow: 0 0 0 2px #FFFFFF;
				padding: 0.2rem 0.5rem 0.15rem 0.5rem;
			}
		</style>

		<d2l-card subtle
			href="[[_organizationHomepageUrl]]"
			text="[[_accessibilityDataToString(_accessibilityData)]]">
			<div slot="header" aria-hidden="true">
				<div class="image-container">
					<d2l-course-image
						image="[[_image]]"
						sizes="[[_tileSizes]]"
						type="tile">
					</d2l-course-image>
				</div>
				<div hidden$="[[!_imageLoading]]" class="overlay">
					<d2l-loading-spinner hidden$="[[!_imageLoadingProgress]]" size="85"></d2l-loading-spinner>
					<div class="icon-container" hidden$="[[_imageLoadingProgress]]">
						<d2l-icon></d2l-icon>
					</div>
				</div>

				<div class="alert-colour-circle" hidden$="[[!_startedInactive]]"></div>
			</div>

			<d2l-status-indicator class="badge" slot="badge" state="[[_badgeState]]" text="[[_badgeText]]" hidden$="[[!_badgeText]]"></d2l-status-indicator>

			<div class="content-flex" slot="content">
				<d2l-organization-info
					href="[[_organizationUrl]]"
					presentation-href="[[presentationHref]]">
				</d2l-organization-info>
				<d2l-user-activity-usage href="[[_userActivityUsageUrl]]"></d2l-user-activity-usage>
			</div>
			<d2l-organization-updates
				slot="footer"
				href="[[_notificationsUrl]]"
				presentation-href="[[presentationHref]]">
			</d2l-organization-updates>
			<div slot="actions" class="menu-area">
				<d2l-dropdown-more label="[[_courseSettingsLabel]]">
					<d2l-dropdown-menu>
						<d2l-menu>
							<d2l-menu-item-link
								hidden$="[[!_canAccessCourseInfo]]"
								text="[[localize('courseOfferingInformation')]]"
								href="[[_courseInfoUrl]]">
							</d2l-menu-item-link>
							<d2l-menu-item
								on-d2l-menu-item-select="_launchCourseImageSelector"
								hidden$="[[!_canChangeCourseImage]]"
								text="[[localize('changeImage')]]">
							</d2l-menu-item>
							<d2l-menu-item
								on-d2l-menu-item-select="_pinClickHandler"
								hidden$="[[_pinned]]"
								text="[[localize('pin')]]">
							</d2l-menu-item>
							<d2l-menu-item
								on-d2l-menu-item-select="_pinClickHandler"
								hidden$="[[!_pinned]]"
								text="[[localize('unpin')]]">
							</d2l-menu-item>
						</d2l-menu>
					</d2l-dropdown-menu>
				</d2l-dropdown-more>

				<button
					hidden$="[[!_pinned]]"
					class="pin-indicator"
					on-tap="_pinClickHandler"
					on-keypress="_pinPressHandler"
					aria-label$="[[_pinButtonLabel]]">
					<d2l-icon icon="d2l-tier1:pin-filled"></d2l-icon>
				</button>
			</div>>
				<d2l-dropdown-more label="[[_courseSettingsLabel]]">
					<d2l-dropdown-menu>
						<d2l-menu>
							<d2l-menu-item-link
								hidden$="[[!_canAccessCourseInfo]]"
								text="[[localize('courseOfferingInformation')]]"
								href="[[_courseInfoUrl]]">
							</d2l-menu-item-link>
							<d2l-menu-item
								on-d2l-menu-item-select="_launchCourseImageSelector"
								hidden$="[[!_canChangeCourseImage]]"
								text="[[localize('changeImage')]]">
							</d2l-menu-item>
							<d2l-menu-item
								on-d2l-menu-item-select="_pinClickHandler"
								hidden$="[[_pinned]]"
								text="[[localize('pin')]]">
							</d2l-menu-item>
							<d2l-menu-item
								on-d2l-menu-item-select="_pinClickHandler"
								hidden$="[[!_pinned]]"
								text="[[localize('unpin')]]">
							</d2l-menu-item>
						</d2l-menu>
					</d2l-dropdown-menu>
				</d2l-dropdown-more>

				<button
					hidden$="[[!_pinned]]"
					class="pin-indicator"
					on-tap="_pinClickHandler"
					on-keypress="_pinPressHandler"
					aria-label$="[[_pinButtonLabel]]">
					<d2l-icon icon="d2l-tier1:pin-filled"></d2l-icon>
				</button>
			</div>
		</d2l-card>


	</template>
	<script>
		Polymer({
			is: 'd2l-enrollment-card',

			properties: {
				href: {
					type: String,
					value: null
				},
				presentationHref: {
					type: String,
					value: null
				},

				_enrollment: {
					type: Object,
					value: function() { return {}; }
				},
				_presentation: {
					type: Object,
					value: function() { return {}; }
				},
				_pinned: {
					type: Boolean,
					value: false,
					observer: '_handlePinnedChange'
				},
				_startedInactive: {
					type: Boolean,
					value: false,
					observer: '_handleStartedInactiveChange'
				},
				_tileSizes: {
					type: Object,
					value: function() {
						return {
							mobile: {
								maxwidth: 767,
								size: 100
							},
							tablet: {
								maxwidth: 1243,
								size: 67
							},
							desktop: {
								size: 25
							}
						};
					}
				},
				_canAccessCourseInfo: {
					type: Boolean,
					computed: '_computeCanAccessCourseInfo(_organization)'
				},
				_canChangeCourseImage: {
					type: Boolean,
					computed: '_computeCanChangeCourseImage(_organization)'
				},
				_courseInfoUrl: String,
				_courseSettingsLabel: {
					type: String,
					computed: '_computeCourseSettingsLabel(_organization)'
				},
				_image: Object,
				_imageLoading: {
					type: Boolean,
					value: false
				},
				_imageLoadingProgress: {
					type: Boolean,
					value: false
				},
				_load: Boolean,
				_organization: Object,
				_organizationUrl: String,
				_organizationHomepageUrl: String,
				_pinButtonLabel: {
					type: String,
					computed: '_computePinButtonLabel(_organization)'
				},
				_notificationsUrl: String,
				// can't be undefined as falsy means hidden
				_badgeText: {
					type: String,
					value: null,
					observer: '_badgeTextChange'
				},
				_badgeState: String,
				_userActivityUsageUrl: String,
				_accessibilityData: {
					type: Object,
					value: function() { return {}; }
				}
			},
			behaviors: [
				window.D2L.Hypermedia.HMConstantsBehavior,
				D2L.PolymerBehaviors.Hypermedia.OrganizationHMBehavior,
				D2L.PolymerBehaviors.EnrollmentCard.LocalizeBehavior,
			],
			observers: [
				'_fetchEnrollment(_load, href)',
				'_fetchPresentationData(_load, presentationHref)',
				'_calculatePastCourseAttribute(_organization)'
			],
			listeners: {
				'd2l-enrollment-status': '_onD2lEnrollmentStatus',
				'd2l-organization-accessible': '_onD2lOrganizationAccessible',
				'd2l-user-activity-usage-accessible': '_onD2lUserActivityUsageAccessible'
			},
			ready: function() {
				Polymer.IronA11yAnnouncer.requestAvailability();
				this._boundOnSetCourseImage = this._onSetCourseImage.bind(this);
			},
			attached: function() {
				window.addEventListener('set-course-image', this._boundOnSetCourseImage);

				Polymer.RenderStatus.afterNextRender(this, function() {
					this.addEventListener('focus', this._onFocus, true);
					this.addEventListener('blur', this._onBlur, true);

					var imageTile = this.$$('d2l-card');

					var observerCallback = function(entries, observer) {
						if (this._load) {
							// The tile already loaded via requestIdleCallback/setTimeout
							return;
						}

						for (var i = 0; i < entries.length; i++) {
							// Chrome/FF immediately call the callback when we observer.observe()
							// so we need to also make sure the tile is visible for that first run
							// see https://bugs.chromium.org/p/chromium/issues/detail?id=713819
							if (entries[i].intersectionRatio > 0) {
								observer.unobserve(imageTile);
								this.fire('initially-visible-course-tile');
								this._load = true;
								break;
							}
						}
					};

					// Small shim for Edge/IE/Safari
					var delayFunction = window.requestIdleCallback || setTimeout;
					delayFunction(function() {
						if (this._load) {
							// The tile already loaded via the IntersectionObserver
							return;
						}
						// Whether we load because the tile became visible, or because we got some
						// idle time, we want to disconnect the observer either way
						observer.unobserve(imageTile);
						this._load = true;
					}.bind(this));

					var observer = new IntersectionObserver(observerCallback.bind(this));
					observer.observe(imageTile);
				});
			},
			detached: function() {
				window.removeEventListener('set-course-image', this._boundOnSetCourseImage);
				this.removeEventListener('focus', this._onFocus, true);
				this.removeEventListener('blur', this._onBlur, true);
			},

			refreshImage: function(organization) {
				if (this._getEntityIdentifier(organization) !== this._getEntityIdentifier(this._organization)) {
					return;
				}

				this._imageLoading = true;
				this._imageLoadingProgress = true;

				this._organizationUrl = organization.getLinkByRel('self').href;

				return this._fetchSirenEntity(this._organizationUrl)
					.then(this._handleOrganizationResponse.bind(this))
					.then(this._displaySetImageResult.bind(this, true, true))
					.catch(this._displaySetImageResult.bind(this, false));
			},

			_computeCanAccessCourseInfo: function(organization) {
				return organization
					&& organization.hasLinkByRel(this.HypermediaRels.courseOfferingInfoPage);
			},
			_computeCanChangeCourseImage: function(organization) {
				return organization
					&& organization.hasActionByName(this.HypermediaActions.organizations.setCatalogImage);
			},
			_computeCourseSettingsLabel: function(organization) {
				return organization
					&& organization.properties
					&& this.localize('courseSettings', 'course', organization.properties.name);
			},
			_calculatePastCourseAttribute: function(organization) {
				var nowDate = Date.now();
				var endDate = Date.parse(organization.properties.endDate);
				var startDate = Date.parse(organization.properties.startDate);
				var inactive = !organization.properties.isActive;

				this.removeAttribute('past-course');
				if (endDate < nowDate) {
					this.setAttribute('past-course', '');
					return;
				}

				if (
					inactive
					&& startDate
					&& startDate < nowDate
					&& this._pinned
					&& organization.hasLinkByRel(this.HypermediaRels.courseOfferingInfoPage)
				) {
					// We only care about calling out started-inactive courses if they're pinned, and if the user is admin-ish
					this._startedInactive = true;
					this.fire('started-inactive');
				}
			},
			_computePinButtonLabel: function(organization) {
				return organization
					&& organization.properties
					&& this.localize('coursePinButton', 'course', organization.properties.name);
			},
			_handlePinnedChange: function(pinned) {
				if (pinned) {
					this.setAttribute('pinned', '');
				} else {
					this.removeAttribute('pinned');
				}
			},
			_handleStartedInactiveChange: function(startedInactive) {
				if (startedInactive) {
					this.setAttribute('started-inactive', '');
				} else {
					this.removeAttribute('started-inactive');
				}
			},

			_displaySetImageResult: function(success, skipSetImage) {
				setTimeout(function() {
					var icon = this.$$('.icon-container d2l-icon');
					this.toggleClass('checkmark', false, icon);
					this.toggleClass('fail-icon', false, icon);
					var iconName = success ? 'd2l-tier2:check' : 'd2l-tier3:close';
					var className = success ? 'checkmark' : 'fail-icon';
					icon.setAttribute('icon', iconName);
					this.toggleClass(className, true, icon);

					// Hide the loading spinner, so that the success/failure icon shows
					this._imageLoadingProgress = false;

					if (success && !skipSetImage) {
						this._image = this._nextImage;
					}

					setTimeout(function() {
						// Hide the entire image-loading overlay and contents
						this._imageLoading = false;
					}.bind(this), 1000);
				}.bind(this), 1000);
			},
			_fetchPresentationData: function(load, presentationHref) {
				if (!load || !presentationHref) {
					return Promise.resolve();
				}

				return this._fetchSirenEntity(presentationHref)
					.then(function(presentation) {
						this._presentation = presentation.properties || {};
					}.bind(this));
			},
			_fetchEnrollment: function(load, enrollmentUrl) {
				if (!load || !enrollmentUrl) {
					return Promise.resolve();
				}

				return this._fetchSirenEntity(enrollmentUrl)
					.then(this._handleEnrollmentData.bind(this));
			},
			_handleEnrollmentData: function(enrollment) {
				if (
					!enrollment
					|| !enrollment.hasLinkByRel
					|| !enrollment.hasLinkByRel(this.HypermediaRels.organization)
				) {
					return;
				}

				this._enrollment = enrollment;
				this._pinned = enrollment.hasClass(this.HypermediaClasses.enrollments.pinned);
				this._organizationUrl = enrollment.getLinkByRel(this.HypermediaRels.organization).href;

				this.fire('d2l-enrollment-card-fetched', {
					organizationUrl: this._organizationUrl,
					enrollmentUrl: this._getEntityIdentifier(this._enrollment)
				});
				if (enrollment.hasLinkByRel(this.HypermediaRels.Activities.userActivityUsage)) {
					this._userActivityUsageUrl = enrollment.getLinkByRel(this.HypermediaRels.Activities.userActivityUsage).href;
				}

				return this._fetchSirenEntity(this._organizationUrl)
					.then(this._handleOrganizationResponse.bind(this));
			},
			_fetchSirenEntity: function(url) {
				if (!url) {
					return;
				}

				return window.d2lfetch
					.fetch(new Request(url, {
						headers: { Accept: 'application/vnd.siren+json' },
					}))
					.then(this._responseToSirenEntity.bind(this));
			},
			_getEntityIdentifier: function(entity) {
				// An entity's self href should be unique, so use it as an identifier
				var selfLink = entity.getLinkByRel('self');
				return selfLink.href;
			},
			_handleOrganizationResponse: function(organization) {
				this._organization = organization;

				Polymer.RenderStatus.afterNextRender(this, function() {
					// Telemetry event for organization loaded, meaning tile is interactive
					this.fire('course-tile-organization');
				});

				if (organization.hasLinkByRel(this.HypermediaRels.courseOfferingInfoPage)) {
					this._courseInfoUrl = organization.getLinkByRel(this.HypermediaRels.courseOfferingInfoPage).href;
				}
				if (organization.hasLinkByRel(this.HypermediaRels.Notifications.organizationNotifications)) {
					this._notificationsUrl = organization.getLinkByRel(this.HypermediaRels.Notifications.organizationNotifications).href;
				}
				if (organization.hasSubEntityByClass(this.HypermediaClasses.courseImage.courseImage)) {
					var imageEntity = organization.getSubEntityByClass(this.HypermediaClasses.courseImage.courseImage);
					if (imageEntity.href) {
						this._fetchSirenEntity(imageEntity.href)
							.then(function(hydratedImageEntity) {
								this._image = hydratedImageEntity;
							}.bind(this));
					} else {
						this._image = imageEntity;
					}
				}
				if (organization.hasSubEntityByRel(this.HypermediaRels.organizationHomepage)) {
					var homepageEntity = organization.getSubEntityByRel(this.HypermediaRels.organizationHomepage);
					this._organizationHomepageUrl = homepageEntity
						&& homepageEntity.properties
						&& homepageEntity.properties.path;
				} else {
					// If the user doesn't have access, don't animate image/show menu/underline on hover
					this.$$('d2l-card').setAttribute('disabled', '');
					this._organizationHomepageUrl = null;
				}

				return Promise.resolve();
			},
			_launchCourseImageSelector: function() {
				this.fire('open-change-image-view', {
					organization: this._organization
				});
			},
			_onFocus: function() {
				this.setAttribute('focused', '');
			},
			_onBlur: function() {
				this.removeAttribute('focused');
			},
			_onSetCourseImage: function(e) {
				if (this._getEntityIdentifier(e.detail.organization) !== this._getEntityIdentifier(this._organization)) {
					return;
				}

				this._imageLoading = true;

				var status = e.detail.status;

				switch (status) {
					case 'set':
						this._imageLoadingProgress = true;
						// load the image while the loading spinner runs to that we have it when the spinner ends
						this._nextImage = e.detail.image;
						var imagePreloader = document.createElement('img');

						var newImageHref = this.getDefaultImageLink(e.detail.image);
						if (newImageHref) {
							imagePreloader.setAttribute('src', newImageHref);
						}

						var newSrcSet = this.getImageSrcset(e.detail.image, 'tile');
						if (newSrcSet) {
							imagePreloader.setAttribute('srcset', newSrcSet);
						}

						imagePreloader.setAttribute('sizes', this.$$('d2l-course-image').getTileSizes());
						break;
					case 'success':
						this._displaySetImageResult(true);
						break;
					case 'failure':
					default:
						this._displaySetImageResult(false);
						break;
				}
			},
			_onD2lEnrollmentStatus: function(e) {
				var status = e.detail.status;
				switch (status) {
					case 'completed':
						this._badgeText = 'completed';
						this._badgeState = 'success';
						break;
					case 'overdue':
						this._badgeText = 'overdue';
						this._badgeState = 'alert';
						break;
					default:
						this._badgeText = null;
						return;
				}
			},
			_onD2lOrganizationAccessible: function(e) {
				this._accessibilityData.organizationName = e.detail.organization && e.detail.organization.name;
				this._accessibilityData.organizationCode = e.detail.organization && e.detail.organization.code;
				this._accessibilityData.semesterName = e.detail.semesterName;
				this._accessibilityDataReset();
			},
			_onD2lUserActivityUsageAccessible: function(e) {
				this._accessibilityData.userActivityUsageInfo = e.detail;
				this._accessibilityDataReset();
			},
			_badgeTextChange: function(badgeText) {
				if (!badgeText) return;

				this._accessibilityData.badge = badgeText;
				this._accessibilityDataReset();
			},
			_pinClickHandler: function() {
				var pinAction = this._pinned
					? this._enrollment.getActionByName(this.HypermediaActions.enrollments.unpinCourse)
					: this._enrollment.getActionByName(this.HypermediaActions.enrollments.pinCourse);

				var body = '';
				var fields = pinAction.fields || [];
				fields.forEach(function(field) {
					body = body + encodeURIComponent(field.name) + '=' + encodeURIComponent(field.value) + '&';
				});

				this.fire(this._pinned ? 'enrollment-pinned' : 'enrollment-unpinned', {
					enrollment: this._enrollment,
					organization: this._organization
				});

				var localizeKey = this._pinned ? 'unpinActionResult' : 'pinActionResult';
				this.fire('iron-announce', {
					text: this.localize(localizeKey, 'course', this._organization.properties.name)
				}, { bubbles: true });

				return window.d2lfetch
					.fetch(new Request(pinAction.href, {
						method: pinAction.method,
						body: body,
						headers: {
							'accept':'application/vnd.siren+json',
							'content-type':'application/x-www-form-urlencoded'
						}
					}))
					.then(this._responseToSirenEntity.bind(this))
					.then(this._handleEnrollmentData.bind(this))
					.then(function() {
						// Wait until after PUT has finished to fire, so that
						// listeners are guaranteed to fetch updated entity
						this.fire('d2l-course-pinned-change', {
							enrollment: this._enrollment,
							isPinned: this._pinned
						});
					}.bind(this));
			},
			_pinPressHandler: function(e) {
				if (e.code === 'Space' || e.code === 'Enter') {
					this._pinClickHandler();
				}
			},
			_responseToSirenEntity: function(response) {
				if (response.ok) {
					return response
						.json()
						.then(function(json) {
							return window.D2L.Hypermedia.Siren.Parse(json);
						});
				}
				return Promise.reject(response.status + ' ' + response.statusText);
			},
			_accessibilityDataToString: function(accessibility) {
				if (!accessibility || !accessibility.organizationName) {
					return this.localize('courseClosed');
				}
				var textData = [
					accessibility.organizationName,
					accessibility.organizationCode,
					accessibility.semesterName,
					accessibility.badge,
					accessibility.userActivityUsageInfo
				];
				return textData.filter(function(text) {
					return text && typeof text === 'string';
				}).join(', ');
			},
			_accessibilityDataReset: function() {
				var accessiblity = this._accessibilityData;
				this._accessibilityData = {};
				this._accessibilityData = accessiblity;
			}
		});
	</script>
</dom-module>
