<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../../../iron-a11y-announcer/iron-a11y-announcer.html">
<link rel="import" href="../../../d2l-course-image/d2l-course-image.html">
<link rel="import" href="../../../d2l-dropdown/d2l-dropdown-menu.html">
<link rel="import" href="../../../d2l-dropdown/d2l-dropdown-more.html">
<link rel="import" href="../../../d2l-fetch/d2l-fetch.html">
<link rel="import" href="../../../d2l-hm-constants-behavior/d2l-hm-constants-behavior.html">
<link rel="import" href="../../../d2l-icons/d2l-icon.html">
<link rel="import" href="../../../d2l-icons/tier1-icons.html">
<link rel="import" href="../../../d2l-loading-spinner/d2l-loading-spinner.html">
<link rel="import" href="../../../d2l-menu/d2l-menu-item.html">
<link rel="import" href="../../../d2l-menu/d2l-menu-item-link.html">
<link rel="import" href="../../../d2l-offscreen/d2l-offscreen.html">
<link rel="import" href="../../../d2l-organization-hm-behavior/d2l-organization-hm-behavior.html">
<link rel="import" href="../../../d2l-tile/d2l-card.html">
<link rel="import" href="../../../siren-parser-import/siren-parser.html">
<link rel="import" href="localize-behavior.html">

<!--
`d2l-enrollment-card`

Polymer-based web component for a course/enrollment card.
-->

<dom-module id="d2l-enrollment-card">
	<template strip-whitespace>
		<style>
			:host {
				display: block;
				position: relative;
			}

			d2l-card:hover,
			d2l-card:focus {
				cursor: pointer;
				border: 1px solid var(--d2l-color-celestine);
			}
			d2l-card[disabled]:hover,
			d2l-card[disabled]:focus {
				cursor: not-allowed;
			}

			d2l-card:hover .image-container,
			d2l-card:focus .image-container {
				-webkit-filter: saturate(1.15) contrast(1.15);
				filter: saturate(1.15) contrast(1.15);
				transform: scale(1.1);
			}
			d2l-card[disabled]:hover .image-container,
			d2l-card[disabled]:focus .image-container {
				-webkit-filter: none;
				filter: none;
				transform: none;
			}

			d2l-icon {
				color: white;
				--d2l-icon-width: 18px;
				--d2l-icon-height: 18px;
			}

			.flex {
				display: flex;
				align-items: center;
			}

			.course-text {
				float: left;
				flex: 1;
				overflow: hidden;
				word-wrap: break-word; /* IE/Edge */
				overflow-wrap: break-word; /* replaces 'word-wrap' in Firefox, Chrome, Safari */
			}
			d2l-card:hover .course-text,
			d2l-card:focus .course-text {
				text-decoration: underline;
			}
			d2l-card[disabled]:hover .course-text,
			d2l-card[disabled]:focus .course-text {
				text-decoration: none;
			}
			.course-code-text,
			.semester-text  {
				-ms-word-break: break-all;
				word-break: break-all;
				word-break: break-word; /* Best case, only works in Chrome though */
				@apply --d2l-body-small-text;
			}
			.separator-icon {
				color: var(--d2l-color-tungsten)
			}
			.uppercase {
				text-transform: uppercase;
			}

			.pin-indicator {
				line-height: 20px;
				opacity: 1;
				background: rgba(0,0,0,0.5);
				border: none;
				border-radius: 5px;
				transition: color 0.5s, background 0.5s, opacity 0.25s, width 0.15s, margin-right 0.25s, padding-left 0.25s, padding-right 0.25s;
				cursor: pointer;
				width: 35px;
				height: 35px;
			}
			.pin-indicator:hover,
			.pin-indicator:focus {
				color: rgba(255,255,255,1);
				background: var(--d2l-color-celestine);
			}

			.menu-area {
				position: absolute;
				top: 0px;
				right: 0px;
				justify-content: flex-end;
			}
			[dir="rtl"] .menu-area {
				justify-content: flex-start;
				right: auto;
				left: 0px;
			}
			.menu-area > * {
				margin-right: 15px;
				margin-top: 14px;
			}
			[dir="rtl"] .menu-area > * {
				margin-left: 15px;
				margin-right: auto;
			}
			.menu-area > d2l-dropdown-more {
				opacity: 0;
				margin-top: 0;
				transition: opacity 0.5s, margin-top 0.5s;
			}
			:host:hover .menu-area > d2l-dropdown-more,
			:host:focus .menu-area > d2l-dropdown-more,
			:host[focused] .menu-area > d2l-dropdown-more {
				opacity: 1;
				margin-top: 15px;
			}

			.overlay {
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: absolute;
				top: 1px;
				height: var(--course-image-height);
				width: calc(100% - 2px);
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				color: white;
				padding: 10px;
				text-align: center;
				background-color: rgba(0,0,0,0.7);
			}
			.overlay[hidden] {
				display: none;
			}
			.overlay-text {
				font-size: 1rem;
				font-weight: bold;
			}
			.overlay-date {
				font-size: 0.7rem;
			}

			.image-container {
				height: var(--course-image-height);
				transition: filter 0.25s, -webkit-filter 0.25s, transform 0.5s ease-in-out;
			}

			.icon-container {
				height: 64px;
				width: 64px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-style: none;
				border-radius: 100px;
				background-color: white;
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				animation-name: container;
				animation-duration: 1s;
				animation-fill-mode: forwards;
			}
			@keyframes container {
				0% { height: 64px; width: 64px; }
				70% { height: 64px; width: 64px; opacity: 1; }
				90% { height: 80px; width: 80px; opacity: 0.4 }
				100% { height: 20px; width: 20px; opacity: 0; }
			}

			.checkmark {
				color: var(--d2l-color-olivine);
			}
			.fail-icon {
				color: #ffce51;
			}
			.checkmark,
			.fail-icon {
				display: flex;
				animation-name: inner;
				animation-duration: 1s;
				animation-fill-mode: forwards;
			}
			@keyframes inner {
				0% { transform: scale(1); }
				15% { transform: scale(2.30); }
				20% { transform: scale(2.0); }
				100% { transform: scale(2.0); }
			}

			.update-text-box {
				border: 2px solid var(--d2l-color-carnelian);
				color: var(--d2l-color-carnelian);
				border-radius: 0.25rem;
				box-sizing: border-box;
				font-size: 1rem;
				font-weight: 700;
				width: 2rem;
				height: 2rem;
				line-height: 2rem;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}

			.alert-colour-circle {
				height: 20px;
				width: 20px;
				border-radius: 20px;
				border: 3px solid white;
				background-color: #ffce51;
				position: absolute;
				top: calc(-1 * var(--course-image-height) - 12px);
				right: -12px;
			}
			[dir="rtl"] .alert-colour-circle {
				right: auto;
				left: -2px;
			}

			.overflow-hidden {
				overflow: hidden;
			}
		</style>

		<d2l-card on-tap="_onTapCard" on-keypress="_onKeypressCard" tabindex="0">
			<div class="overflow-hidden" slot="header" aria-hidden="true">
				<div class="image-container">
					<d2l-course-image
						image="[[_image]]"
						sizes="[[_tileSizes]]"
						type="tile">
					</d2l-course-image>
				</div>
				<div hidden$="[[!_hasOverlay]]" class="overlay">
					<div class="overlay-text">[[_overlayTitle]]</div>
					<div class="overlay-date">[[_overlayDate]]</div>
					<div>[[_overlayInactive]]</div>
				</div>
				<div hidden$="[[!_imageLoading]]" class="overlay">
					<d2l-loading-spinner hidden$="[[!_imageLoadingProgress]]" size="85"></d2l-loading-spinner>
					<div class="icon-container" hidden$="[[_imageLoadingProgress]]">
						<d2l-icon></d2l-icon>
					</div>
				</div>

				<div class="alert-colour-circle" hidden$="[[!_startedInactive]]"></div>
			</div>

			<div class="flex">
				<div class="course-text">
					[[_organization.properties.name]]
					<div>
						<span hidden$="[[!_showCourseCode]]" class="course-code-text uppercase">[[_organization.properties.code]]</span>
						<d2l-icon hidden$="[[!_showSeparator]]" class="separator-icon" icon="d2l-tier1:bullet"></d2l-icon>
						<span hidden$="[[!_showSemester]]" class="semester-text">[[_semesterName]]</span>
					</div>
					<d2l-offscreen>[[_overlayAnnounceText]]</d2l-offscreen>
				</div>
				<div hidden$="[[!_showUpdateCount]]">
					<d2l-offscreen>[[localize('courseTile.updates')]]</d2l-offscreen>
					<span class="update-text-box">[[_updateString]]</span>
				</div>
			</div>
		</d2l-card>

		<div class="flex menu-area">
			<d2l-dropdown-more label="[[_courseSettingsLabel]]">
				<d2l-dropdown-menu>
					<d2l-menu>
						<d2l-menu-item-link
							hidden$="[[!_canAccessCourseInfo]]"
							text="[[localize('courseOfferingInformation')]]"
							href="[[_courseInfoUrl]]">
						</d2l-menu-item-link>
						<d2l-menu-item
							on-d2l-menu-item-select="_launchCourseImageSelector"
							hidden$="[[!_canChangeCourseImage]]"
							text="[[localize('changeImage')]]">
						</d2l-menu-item>
						<d2l-menu-item
							on-d2l-menu-item-select="_pinClickHandler"
							hidden$="[[_pinned]]"
							text="[[localize('pin')]]">
						</d2l-menu-item>
						<d2l-menu-item
							on-d2l-menu-item-select="_pinClickHandler"
							hidden$="[[!_pinned]]"
							text="[[localize('unpin')]]">
						</d2l-menu-item>
					</d2l-menu>
				</d2l-dropdown-menu>
			</d2l-dropdown-more>

			<button
				hidden$="[[!_pinned]]"
				class="pin-indicator"
				on-tap="_pinClickHandler"
				on-keypress="_pinPressHandler"
				aria-label$="[[_pinButtonLabel]]">
				<d2l-icon icon="d2l-tier1:pin-filled"></d2l-icon>
			</button>
		</div>
	</template>
	<script>
		Polymer({
			is: 'd2l-enrollment-card',

			properties: {
				 href: {
					type: String,
					value: null
				},
				presentationHref: {
					type: String,
					value: null
				},

				_courseUpdatesConfig: {
					type: Object,
					value: function() { return {}; }
				},
				_enrollment: {
					type: Object,
					value: function() { return {}; }
				},
				focused: {
					type: Boolean,
					value: false,
					reflectToAttribute: true
				},
				_pinned: {
					type: Boolean,
					value: false,
					observe: '_handlePinnedChange()'
				},
				_showCourseCode: {
					type: Boolean,
					value: false
				},
				_showSemester: {
					type: Boolean,
					value: false
				},
				_startedInactive: {
					type: Boolean,
					value: false
				},
				_tileSizes: {
					type: Object,
					value: function() {
						return {
							mobile: {
								maxwidth: 767,
								size: 100
							},
							tablet: {
								maxwidth: 1243,
								size: 67
							},
							desktop: {
								size: 25
							}
						};
					}
				},
				_canAccessCourseInfo: {
					type: Boolean,
					computed: '_computeCanAccessCourseInfo(_organization)'
				},
				_canChangeCourseImage: {
					type: Boolean,
					computed: '_computeCanChangeCourseImage(_organization)'
				},
				_courseInfoUrl: String,
				_courseSettingsLabel: {
					type: String,
					computed: '_computeCourseSettingsLabel(_organization)'
				},
				_hasOverlay: {
					type: Boolean,
					value: false
				},
				_image: Object,
				_imageLoading: {
					type: Boolean,
					value: false
				},
				_imageLoadingProgress: {
					type: Boolean,
					value: false
				},
				_load: Boolean,
				_organization: Object,
				_organizationHomepageUrl: String,
				_overlayAnnounceText: {
					type: String,
					computed: '_computeOverlayAnnounceText(_organization)'
				},
				_overlayDate: String,
				_overlayInactive: String,
				_overlayTitle: String,
				_pinButtonLabel: {
					type: String,
					computed: '_computePinButtonLabel(_organization)'
				},
				_semesterName: String,
				_semesterUrl: String,
				_showSeparator: {
					type: Boolean,
					value: false,
					computed: '_computeShowSeparator(_showSemester, _showCourseCode, _organization, _semesterName)'
				},
				_showUpdateCount: {
					type: Boolean,
					value: false,
					computed: '_computeShowUpdateCount(_courseUpdatesConfig, _updateCount)'
				},
				_updateString: {
					type: String,
					computed: '_computeUpdateString(_updateCount)'
				},
				_updateCount: {
					type: Number,
					value: 0
				}
			},
			behaviors: [
				window.D2L.Hypermedia.HMConstantsBehavior,
				D2L.PolymerBehaviors.Hypermedia.OrganizationHMBehavior,
				D2L.PolymerBehaviors.EnrollmentCard.LocalizeBehavior,
			],
			observers: [
				'_fetchEnrollment(_load, href)',
				'_fetchPresentationData(_load, hrefPresentation)'
			],
			ready: function() {
				Polymer.IronA11yAnnouncer.requestAvailability();
				this._boundOnSetCourseImage = this._onSetCourseImage.bind(this);
			},
			attached: function() {
				window.addEventListener('set-course-image', this._boundOnSetCourseImage);

				Polymer.RenderStatus.afterNextRender(this, function() {
					this.addEventListener('focus', this._onFocus, true);
					this.addEventListener('blur', this._onBlur, true);

					var imageTile = this.$$('d2l-card');

					var observerCallback = function(entries, observer) {
						if (this._load) {
							// The tile already loaded via requestIdleCallback/setTimeout
							return;
						}

						for (var i = 0; i < entries.length; i++) {
							// Chrome/FF immediately call the callback when we observer.observe()
							// so we need to also make sure the tile is visible for that first run
							// see https://bugs.chromium.org/p/chromium/issues/detail?id=713819
							if (entries[i].intersectionRatio > 0) {
								observer.unobserve(imageTile);
								this.fire('initially-visible-course-tile');
								this._load = true;
								break;
							}
						}
					};

					// Small shim for Edge/IE/Safari
					var delayFunction = window.requestIdleCallback || setTimeout;
					delayFunction(function() {
						if (this._load) {
							// The tile already loaded via the IntersectionObserver
							return;
						}
						// Whether we load because the tile became visible, or because we got some
						// idle time, we want to disconnect the observer either way
						observer.unobserve(imageTile);
						this._load = true;
					}.bind(this));

					var observer = new IntersectionObserver(observerCallback.bind(this));
					observer.observe(imageTile);
				});
			},
			detached: function() {
				window.removeEventListener('set-course-image', this._boundOnSetCourseImage);
				this.removeEventListener('focus', this._onFocus, true);
				this.removeEventListener('blur', this._onBlur, true);
			},

			refreshImage: function(organization) {
				if (this._getEntityIdentifier(organization) !== this._getEntityIdentifier(this._organization)) {
					return;
				}

				this._imageLoading = true;
				this._imageLoadingProgress = true;

				var organizationHref = organization.getLinkByRel('self').href;

				return this._fetchSirenEntity(organizationHref)
					.then(this._handleOrganizationResponse.bind(this))
					.then(this._displaySetImageResult.bind(this, true, true))
					.catch(this._displaySetImageResult.bind(this, false));
			},

			_computeCanAccessCourseInfo: function(organization) {
				return organization
					&& organization.hasLinkByRel(this.HypermediaRels.courseOfferingInfoPage);
			},
			_computeCanChangeCourseImage: function(organization) {
				return organization
					&& organization.hasActionByName(this.HypermediaActions.organizations.setCatalogImage);
			},
			_computeCourseSettingsLabel: function(organization) {
				return organization
					&& organization.properties
					&& this.localize('courseSettings', 'course', organization.properties.name);
			},
			_computeOverlayAnnounceText: function(organization) {
				var nowDate = Date.now();
				var endDate = Date.parse(organization.properties.endDate);
				var startDate = Date.parse(organization.properties.startDate);
				var inactive = !organization.properties.isActive;

				this.removeAttribute('past-course');
				this._hasOverlay = true;

				if (endDate < nowDate) {
					this.setAttribute('past-course', '');
					endDate = new Date(endDate);
					this._overlayDate = this.formatDateTime(endDate, {format: 'medium'});
					this._overlayInactive = null;
					this._overlayTitle = this.localize('overlay.courseClosed');
					return this.localize('overlay.courseClosedOn', 'dateTime', this.formatDate(endDate, {format: 'MMMM d, yyyy'}) + ' ' + this.formatTime(endDate));
				} else if (startDate > nowDate) {
					startDate = new Date(startDate);
					this._overlayDate = this.formatDateTime(startDate, {format: 'medium'});
					this._overlayInactive = inactive ? this.localize('brackets', 'content', this.localize('overlay.inactive')) : null;
					this._overlayTitle = this.localize('overlay.courseOpens');
					return this.localize('overlay.courseOpeningOn', 'dateTime', this.formatDate(startDate, {format: 'MMMM d, yyyy'}) + ' ' + this.formatTime(startDate));
				} else if (inactive) {
					this._overlayDate = null;
					this._overlayInactive = this.localize('overlay.inactive');
					this._overlayTitle = null;
					if (startDate && this._pinned && organization.hasLinkByRel(this.HypermediaRels.courseOfferingInfoPage)) {
						// We only care about calling out started-inactive courses if they're pinned, and if the user is admin-ish
						this._startedInactive = true;
						this.fire('started-inactive');
					}
					return this._overlayInactive;
				} else {
					this._overlayDate = null;
					this._overlayInactive = null;
					this._overlayTitle = null;
					this._hasOverlay = false;
					return null;
				}
			},
			_computePinButtonLabel: function(organization) {
				return organization
					&& organization.properties
					&& this.localize('coursePinButton', 'course', organization.properties.name);
			},
			_computeShowSeparator: function(showSemester, showCourseCode, organization, semesterName) {
				return showSemester
					&& showCourseCode
					&& organization
					&& organization.properties
					&& organization.properties.code
					&& organization.properties.code.length > 0
					&& semesterName
					&& semesterName.length > 0;
			},
			_computeShowUpdateCount: function(courseUpdatesConfig, updateCount) {
				return !!courseUpdatesConfig && updateCount > 0;
			},
			_computeUpdateString: function(updateCount) {
				return updateCount > 99 ? '99+' : updateCount;
			},
			_handlePinnedChange() {
				if(this._pinned) {
					this.setAttribute('pinned', '');
				} else {
					this.removeAttribute('pinned', '');
				}
			},

			_displaySetImageResult: function(success, skipSetImage) {
				setTimeout(function() {
					var icon = this.$$('.icon-container d2l-icon');
					this.toggleClass('checkmark', false, icon);
					this.toggleClass('fail-icon', false, icon);
					var iconName = success ? 'd2l-tier2:check' : 'd2l-tier3:close';
					var className = success ? 'checkmark' : 'fail-icon';
					icon.setAttribute('icon', iconName);
					this.toggleClass(className, true, icon);

					// Hide the loading spinner, so that the success/failure icon shows
					this._imageLoadingProgress = false;

					if (success && !skipSetImage) {
						this._image = this._nextImage;
					}

					setTimeout(function() {
						// Hide the entire image-loading overlay and contents
						this._imageLoading = false;
					}.bind(this), 1000);
				}.bind(this), 1000);
			},
			_fetchPresentationData: function(load, presentationHref) {
				if (!load || !presentationHref) {
					return Promise.resolve();
				}

				return this._fetchSirenEntity(presentationHref)
					.then(this._setPresentation.bind(this));
			},
			_handlePesentationReponse: function(presentation) {
				if (!presentation || !presentation.properties) {
					return;
				}
				this._showCourseCode = presentation.properties.showCourseCode;
				this._showSemester = presentation.properties.showSemester;
				this._courseUpdatesConfig = {
					'showUnattemptedQuizzes': presentation.properties.showUnattemptedQuizzes,
					'showDropboxUnreadFeedback': presentation.properties.showDropboxUnreadFeedback,
					'showUngradedQuizAttempts': presentation.properties.showUngradedQuizAttempts,
					'showUnreadDiscussionMessages': presentation.properties.showUnreadDiscussionMessages,
					'showUnreadDropboxSubmissions': presentation.properties.showUnreadDropboxSubmissions
				};
			},
			_fetchEnrollment: function(load, enrollmentUrl) {
				if (!load || !enrollmentUrl) {
					return Promise.resolve();
				}

				return this._fetchSirenEntity(enrollmentUrl)
					.then(this._handleEnrollmentData.bind(this));
			},
			_handleEnrollmentData: function(enrollment) {
				if (
					!enrollment
					|| !enrollment.hasLinkByRel
					|| !enrollment.hasLinkByRel(this.HypermediaRels.organization)
				) {
					return;
				}

				this._enrollment = enrollment;
				this._pinned = enrollment.hasClass(this.HypermediaClasses.enrollments.pinned);

				var organizationHref = enrollment.getLinkByRel(this.HypermediaRels.organization).href;

				return this._fetchSirenEntity(organizationHref)
					.then(this._handleOrganizationResponse.bind(this))
					.then(function() {
						return Promise.all([
							this._fetchSemester(),
							this._fetchNotifications()
						]);
					}.bind(this));
			},
			_fetchNotifications: function() {
				if (!this._notificationsUrl || !this._courseUpdatesConfig) {
					return Promise.resolve();
				}

				return this._fetchSirenEntity(this._notificationsUrl)
					.then(function(notifications) {
						if (!notifications) {
							return;
						}

						var total = 0;
						if (this._courseUpdatesConfig.showUnattemptedQuizzes) {
							total += notifications.properties.UnattemptedQuizzes;
						}
						if (this._courseUpdatesConfig.showDropboxUnreadFeedback) {
							total += notifications.properties.UnreadAssignmentFeedback;
						}
						if (this._courseUpdatesConfig.showUngradedQuizAttempts) {
							total += notifications.properties.UngradedQuizzes;
						}
						if (this._courseUpdatesConfig.showUnreadDiscussionMessages) {
							total += notifications.properties.UnreadDiscussions + notifications.properties.UnapprovedDiscussions;
						}
						if (this._courseUpdatesConfig.showUnreadDropboxSubmissions) {
							total += notifications.properties.UnreadAssignmentSubmissions;
						}

						this._updateCount = total;
					}.bind(this))
					.catch(function() {
						// If we fail to fetch notifications, hide the orange box (via computed _showUpdateCount)
						this._updateCount = 0;
					});
			},
			_fetchSemester: function() {
				if (!this._semesterUrl || !this._showSemester) {
					return Promise.resolve();
				}

				return this._fetchSirenEntity(this._semesterUrl)
					.then(function(semester) {
						this._semesterName = (semester.properties || {}).name;
					}.bind(this));
			},
			_fetchSirenEntity: function(url) {
				if (!url) {
					return;
				}
				return window.d2lfetch
					.fetch(new Request(url, {
						headers: { Accept: 'application/vnd.siren+json' }
					}))
					.then(this._responseToSirenEntity.bind(this));
			},
			_getEntityIdentifier: function(entity) {
				// An entity's self href should be unique, so use it as an identifier
				var selfLink = entity.getLinkByRel('self');
				return selfLink.href;
			},
			_handleOrganizationResponse: function(organization) {
				this._organization = organization;

				Polymer.RenderStatus.afterNextRender(this, function() {
					// Telemetry event for organization loaded, meaning tile is interactive
					this.fire('course-tile-organization');
				});

				if (organization.hasLinkByRel(this.HypermediaRels.courseOfferingInfoPage)) {
					this._courseInfoUrl = organization.getLinkByRel(this.HypermediaRels.courseOfferingInfoPage).href;
				}
				if (organization.hasLinkByRel(this.HypermediaRels.parentSemester)) {
					this._semesterUrl = organization.getLinkByRel(this.HypermediaRels.parentSemester).href;
				}
				if (organization.hasLinkByRel(this.HypermediaRels.Notifications.organizationNotifications)) {
					this._notificationsUrl = organization.getLinkByRel(this.HypermediaRels.Notifications.organizationNotifications).href;
				}
				if (organization.hasSubEntityByClass(this.HypermediaClasses.courseImage.courseImage)) {
					var imageEntity = organization.getSubEntityByClass(this.HypermediaClasses.courseImage.courseImage);
					if (imageEntity.href) {
						this._fetchSirenEntity(imageEntity.href)
							.then(function(hydratedImageEntity) {
								this._image = hydratedImageEntity;
							}.bind(this));
					} else {
						this._image = imageEntity;
					}
				}
				if (organization.hasSubEntityByRel(this.HypermediaRels.organizationHomepage)) {
					var homepageEntity = organization.getSubEntityByRel(this.HypermediaRels.organizationHomepage);
					this._organizationHomepageUrl = homepageEntity
						&& homepageEntity.properties
						&& homepageEntity.properties.path;
				} else {
					// If the user doesn't have access, don't animate image/show menu/underline on hover
					this.$$('d2l-card').setAttribute('disabled', '');
					this._organizationHomepageUrl = null;
				}

				return Promise.resolve();
			},
			_launchCourseImageSelector: function() {
				this.fire('open-change-image-view', {
					organization: this._organization
				});
			},
			_onFocus: function() {
				this.focused = true;
			},
			_onBlur: function() {
				this.focused = false;
			},
			_onKeypressCard: function(e) {
				if (e.code === 'Space' || e.code === 'Enter') {
					this._onTapCard();
				}
			},
			_onTapCard: function() {
				if (this._organizationHomepageUrl) {
					// Homepage not set when user doesn't have access to course
					window.location = this._organizationHomepageUrl;
				}
			},
			_onSetCourseImage: function(e) {
				if (this._getEntityIdentifier(e.detail.organization) !== this._getEntityIdentifier(this._organization)) {
					return;
				}

				this._imageLoading = true;

				var status = e.detail.status;

				switch (status) {
					case 'set':
						this._imageLoadingProgress = true;
						// load the image while the loading spinner runs to that we have it when the spinner ends
						this._nextImage = e.detail.image;
						var imagePreloader = document.createElement('img');

						var newImageHref = this.getDefaultImageLink(e.detail.image);
						if (newImageHref) {
							imagePreloader.setAttribute('src', newImageHref);
						}

						var newSrcSet = this.getImageSrcset(e.detail.image, 'tile');
						if (newSrcSet) {
							imagePreloader.setAttribute('srcset', newSrcSet);
						}

						imagePreloader.setAttribute('sizes', this.$$('d2l-course-image').getTileSizes());
						break;
					case 'success':
						this._displaySetImageResult(true);
						break;
					case 'failure':
					default:
						this._displaySetImageResult(false);
						break;
				}
			},
			_pinClickHandler: function() {
				var pinAction = this._pinned
					? this._enrollment.getActionByName(this.HypermediaActions.enrollments.unpinCourse)
					: this._enrollment.getActionByName(this.HypermediaActions.enrollments.pinCourse);

				var body = '';
				var fields = pinAction.fields || [];
				fields.forEach(function(field) {
					body = body + encodeURIComponent(field.name) + '=' + encodeURIComponent(field.value) + '&';
				});

				this.fire(this._pinned ? 'enrollment-pinned' : 'enrollment-unpinned', {
					enrollment: this._enrollment,
					organization: this._organization
				});

				var localizeKey = this._pinned ? 'unpinActionResult' : 'pinActionResult';
				this.fire('iron-announce', {
					text: this.localize(localizeKey, 'course', this._organization.properties.name)
				}, { bubbles: true });

				return window.d2lfetch
					.fetch(new Request(pinAction.href, {
						method: pinAction.method,
						body: body,
						headers: {
							'accept':'application/vnd.siren+json',
							'content-type':'application/x-www-form-urlencoded'
						}
					}))
					.then(this._responseToSirenEntity.bind(this))
					.then(this._handleEnrollmentData.bind(this))
					.then(function() {
						// Wait until after PUT has finished to fire, so that
						// listeners are guaranteed to fetch updated entity
						this.fire('d2l-course-pinned-change', {
							enrollment: this._enrollment,
							isPinned: this._pinned
						});
					}.bind(this));
			},
			_pinPressHandler: function(e) {
				if (e.code === 'Space' || e.code === 'Enter') {
					this._pinClickHandler();
				}
			},
			_responseToSirenEntity: function(response) {
				if (response.ok) {
					return response
						.json()
						.then(function(json) {
							return window.D2L.Hypermedia.Siren.Parse(json);
						});
				}
				return Promise.reject(response.status + ' ' + response.statusText);
			}
		});
	</script>
</dom-module>
