<link rel="import" href="../../../d2l-localize-behavior/d2l-localize-behavior.html">

<script>
	window.D2L = window.D2L || {};
	window.D2L.PolymerBehaviors = window.D2L.PolymerBehaviors || {};
	window.D2L.PolymerBehaviors.EnrollmentCard = window.D2L.PolymerBehaviors.EnrollmentCard || {};
	/*
	* @polymerBehavior D2L.PolymerBehaviors.EnrollmentCard.LocalizeBehavior
	*/
	D2L.PolymerBehaviors.EnrollmentCard.LocalizeBehaviorImpl = {
		properties: {
			locale: {
				type: String,
				value: function() {
					return document.documentElement.lang
						|| document.documentElement.getAttribute('data-lang-default')
						|| 'en-us';
				}
			},
			resources: {
				value: function() {
					return {
						'en': {
							'brackets': '({content})',
							'changeImage': 'Change Image',
							'courseOfferingInformation': 'Course Offering Information',
							'coursePinButton': '{course} is pinned. Unpin course',
							'courseSettings': '{course} course settings',
							'courseTile.updates': 'updates:',
							'courseClosed': 'Closed',
							'courseClosedOn': 'Closed {dateTime}',
							'courseOpens': 'Opens On',
							'courseOpeningOn': 'Opens on {dateTime}',
							'inactive': 'Inactive',
							'pin': 'Pin',
							'pinActionResult': '{course} has been pinned',
							'unpin': 'Unpin',
							'unpinActionResult': '{course} has been unpinned',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'ar': {
							'brackets': '({content})',
							'changeImage': 'تغيير الصورة',
							'courseOfferingInformation': 'معلومات مضمون المقرر التعليمي',
							'coursePinButton': 'تم تثبيت {course}. إلغاء تثبيت المقرر التعليمي',
							'courseSettings': 'إعدادات المقرر التعليمي الخاصة بـ {course}',
							'courseTile.updates': 'التحديثات:',
							'courseClosed': 'تم الإغلاق',
							'courseClosedOn': 'تم الإغلاق في {dateTime}',
							'courseOpens': 'يفتح في',
							'courseOpeningOn': 'يفتح في {dateTime}',
							'inactive': 'غير نشط',
							'pin': 'تثبيت',
							'pinActionResult': 'تم تثبيت {course}',
							'unpin': 'إلغاء التثبيت',
							'unpinActionResult': 'تم إلغاء تثبيت {course}',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'de': {
							'brackets': '({content})',
							'changeImage': 'Bild ändern',
							'courseOfferingInformation': 'Informationen zum Kursangebot',
							'coursePinButton': '{course} ist angeheftet. Kurs lösen',
							'courseSettings': 'Kurseinstellungen für {course}',
							'courseTile.updates': 'Aktualisierungen:',
							'courseClosed': 'Geschlossen',
							'courseClosedOn': 'Geschlossen am {dateTime} um',
							'courseOpens': 'Öffnet',
							'courseOpeningOn': 'Öffnet am {dateTime} um',
							'inactive': 'Inaktiv',
							'pin': 'Anheften',
							'pinActionResult': '{course} wurde angeheftet',
							'unpin': 'Lösen',
							'unpinActionResult': '{course} wurde gelöst',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'es': {
							'brackets': '({content})',
							'changeImage': 'Cambiar imagen',
							'courseOfferingInformation': 'Información de oferta de cursos',
							'coursePinButton': '{course} se ancló. Desanclar curso',
							'courseSettings': 'Configuración del curso {course}',
							'courseTile.updates': 'actualizaciones:',
							'courseClosed': 'Cerrado',
							'courseClosedOn': 'Cerrado el {dateTime}',
							'courseOpens': 'Se abre el día',
							'courseOpeningOn': 'Se abre el día {dateTime}',
							'inactive': 'Inactivo',
							'pin': 'Anclar',
							'pinActionResult': '{course} se ancló',
							'unpin': 'Desanclar',
							'unpinActionResult': '{course} se desancló',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'fi': {
							'brackets': '({content})',
							'changeImage': 'Vaihda kuva',
							'courseOfferingInformation': 'Kurssivalikoiman tiedot',
							'coursePinButton': '{course} on kiinnitetty. Poista kurssin kiinnitys',
							'courseSettings': '{course}-kurssiasetukset',
							'courseTile.updates': 'päivitystä:',
							'courseClosed': 'Suljettu',
							'courseClosedOn': 'Suljettu {dateTime}',
							'courseOpens': 'Avautuu',
							'courseOpeningOn': 'Avautuu {dateTime}',
							'inactive': 'Ei aktiivinen',
							'pin': 'Kiinnitä',
							'pinActionResult': '{course} on kiinnitetty',
							'unpin': 'Poista kiinnitys',
							'unpinActionResult': '{course} on irrotettu',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'fr': {
							'brackets': '({content})',
							'changeImage': 'Modifier l\'image',
							'courseOfferingInformation': 'Information sur l\'offre de cours',
							'coursePinButton': 'Le cours {course} est épinglé. Annuler l\'épinglage du cours',
							'courseSettings': 'Paramètres du cours {course}',
							'courseTile.updates': 'mises à jour :',
							'courseClosed': 'Fermé',
							'courseClosedOn': 'Fermé le {dateTime} à',
							'courseOpens': 'Ouvert le',
							'courseOpeningOn': 'Ouvert le {dateTime} à',
							'inactive': 'Inactif',
							'pin': 'Épingler',
							'pinActionResult': '{course} a été épinglé',
							'unpin': 'Annuler l\'épinglage',
							'unpinActionResult': 'L\'épinglage du cours {course} a été annulé',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'ja': {
							'brackets': '（{content}）',
							'changeImage': 'イメージの変更',
							'courseOfferingInformation': 'コース内容情報',
							'coursePinButton': '{course} は固定されています。コースの固定解除',
							'courseSettings': '{course} コース設定',
							'courseTile.updates': '更新:',
							'courseClosed': 'クローズ',
							'courseClosedOn': '{dateTime} にクローズ',
							'courseOpens': 'オープン',
							'courseOpeningOn': '{dateTime} にオープン',
							'inactive': '非アクティブ',
							'pin': '固定',
							'pinActionResult': '{course} は固定されています',
							'unpin': '固定解除',
							'unpinActionResult': '{course} は固定解除されています',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'ko': {
							'brackets': '({content})',
							'changeImage': '이미지 변경',
							'courseOfferingInformation': '개설 강의 정보',
							'coursePinButton': '{course}이(가) 고정되었습니다. 강의 고정 취소',
							'courseSettings': '{course} 강의 설정',
							'courseTile.updates': '업데이트:',
							'courseClosed': '닫힘',
							'courseClosedOn': '닫힘 일시: {dateTime}',
							'courseOpens': '열림 일시',
							'courseOpeningOn': '열림 일시 {dateTime}',
							'inactive': '비활성',
							'pin': '고정',
							'pinActionResult': '{course} 고정됨',
							'unpin': '고정 취소',
							'unpinActionResult': '{course} 고정 취소됨',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'nb': {
							'brackets': '({content})',
							'changeImage': 'Endre bilde',
							'courseOfferingInformation': 'Informasjon om undervisningstilbud',
							'coursePinButton': '{course} is pinned. Unpin course',
							'courseSettings': 'Innstillinger for undervisningsenheten {course}',
							'courseTile.updates': 'oppdateringer:',
							'courseClosed': 'Closed',
							'courseClosedOn': 'Closed {dateTime}',
							'courseOpens': 'Opens On',
							'courseOpeningOn': 'Opens on {dateTime}',
							'inactive': 'Inaktiv',
							'pin': 'Fest',
							'pinActionResult': '{course} har blitt festet',
							'unpin': 'Løsne',
							'unpinActionResult': '{course} har blitt løsnet',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'nl': {
							'brackets': '({content})',
							'changeImage': 'Afbeelding wijzigen',
							'courseOfferingInformation': 'Informatie cursuseditie',
							'coursePinButton': '{course} is vastgepind. Cursus losmaken',
							'courseSettings': '{course}-cursusinstellingen',
							'courseTile.updates': 'updates:',
							'courseClosed': 'Gesloten',
							'courseClosedOn': 'Gesloten {dateTime}',
							'courseOpens': 'Opent op',
							'courseOpeningOn': 'Opent op {dateTime}',
							'inactive': 'Inactief',
							'pin': 'Vastpinnen',
							'pinActionResult': '{course} is vastgepind',
							'unpin': 'Losmaken',
							'unpinActionResult': '{course} is losgemaakt',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'pt': {
							'brackets': '({content})',
							'changeImage': 'Alterar imagem',
							'courseOfferingInformation': 'Informações de Oferta de Curso',
							'coursePinButton': '{course} está fixado. Desafixar curso',
							'courseSettings': 'Definições do curso {course}',
							'courseTile.updates': 'atualizações:',
							'courseClosed': 'Fechado',
							'courseClosedOn': 'Fechado em {dateTime}',
							'courseOpens': 'Abre em',
							'courseOpeningOn': 'Abre em {dateTime}',
							'inactive': 'Inativo',
							'pin': 'Fixar',
							'pinActionResult': '{course} foi fixado',
							'unpin': 'Desafixar',
							'unpinActionResult': '{course} foi desafixado',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'sv': {
							'brackets': '({content})',
							'changeImage': 'Ändra bild',
							'courseOfferingInformation': 'Information om kursutbud',
							'coursePinButton': '{course} är markerad. Avmarkera kurs',
							'courseSettings': '{course} kursinställningar',
							'courseTile.updates': 'uppdateringar:',
							'courseClosed': 'Stängd',
							'courseClosedOn': 'Stängdes {dateTime}',
							'courseOpens': 'Öppnas',
							'courseOpeningOn': 'Öppnas {dateTime}',
							'inactive': 'Inaktiv',
							'pin': 'Markera',
							'pinActionResult': '{course} har markerats',
							'unpin': 'Avmarkera',
							'unpinActionResult': '{course} har avmarkerats',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'tr': {
							'brackets': '({content})',
							'changeImage': 'Görüntüyü Değiştir',
							'courseOfferingInformation': 'Ders Önerisi Bilgileri',
							'coursePinButton': '{course} dersi sabitlendi. Dersin sabitlemesini geri al',
							'courseSettings': '{course} dersinin ayarları',
							'courseTile.updates': 'güncellemeler:',
							'courseClosed': 'Kapandı',
							'courseClosedOn': 'Şu tarihte kapandı: {dateTime}',
							'courseOpens': 'Şu tarihte açılacak:',
							'courseOpeningOn': 'Şu tarihte açılacak: {dateTime}',
							'inactive': 'Etkin Değil',
							'pin': 'Sabitle',
							'pinActionResult': '{course} dersi sabitlendi',
							'unpin': 'Sabitlemeyi Geri Al',
							'unpinActionResult': '{course} dersinin sabitlemesi geri alındı',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'zh': {
							'brackets': '({content})',
							'changeImage': '更改图像',
							'courseOfferingInformation': '课程方案信息',
							'coursePinButton': '已锁定 {course}。未锁定课程',
							'courseSettings': '{course} 课程设置',
							'courseTile.updates': '更新：',
							'courseClosed': '已关闭',
							'courseClosedOn': '已于 {dateTime} 关闭',
							'courseOpens': '开启日期',
							'courseOpeningOn': '于 {dateTime} 开启',
							'inactive': '非活动',
							'pin': '锁定',
							'pinActionResult': '{course} 已锁定',
							'unpin': '取消锁定',
							'unpinActionResult': '{course} 已取消锁定',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						},
						'zh-tw': {
							'brackets': '({content})',
							'changeImage': '變更影像',
							'courseOfferingInformation': '開課項目資訊',
							'coursePinButton': '{course} 已置頂。取消置頂課程',
							'courseSettings': '{course} 課程設定',
							'courseTile.updates': '更新：',
							'courseClosed': '已關閉',
							'courseClosedOn': '關閉於 {dateTime}',
							'courseOpens': '開啟於',
							'courseOpeningOn': '開啟於 {dateTime}',
							'inactive': '停用',
							'pin': '置頂',
							'pinActionResult': '已將 {course} 置頂',
							'unpin': '取消置頂',
							'unpinActionResult': '已將 {course} 取消置頂',
							'completed': 'Completed',
							'overdue': 'Overdue',
							'new': 'New',
							'disabled': 'Disabled',
						}
					};
				}
			}
		}
	};

	/*
	* @polymerBehavior D2L.PolymerBehaviors.EnrollmentCard.LocalizeBehavior
	*/
	D2L.PolymerBehaviors.EnrollmentCard.LocalizeBehavior = [
		D2L.PolymerBehaviors.LocalizeBehavior,
		D2L.PolymerBehaviors.EnrollmentCard.LocalizeBehaviorImpl
	];
</script>
