<link rel="import" href="../../../d2l-localize-behavior/d2l-localize-behavior.html">

<script>
	window.D2L = window.D2L || {};
	window.D2L.PolymerBehaviors = window.D2L.PolymerBehaviors || {};
	window.D2L.PolymerBehaviors.UserActivityUsage = window.D2L.PolymerBehaviors.UserActivityUsage || {};
	/*
	* @polymerBehavior D2L.PolymerBehaviors.UserActivityUsage.LocalizeBehaviorImpl
	*/
	D2L.PolymerBehaviors.UserActivityUsage.LocalizeBehaviorImpl = {
		properties: {
			locale: {
				type: String,
				value: function() {
					return document.documentElement.lang
						|| document.documentElement.getAttribute('data-lang-default')
						|| 'en-us';
				}
			},
			resources: {
				value: function() {
					return {
						'en': {
							'brackets': '({content})',
							'dueOn': 'Due {dateTime}',
							'completedOn': 'Completed {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'ar': {
							'brackets': '({content})',
							'dueOn': 'تم الإغلاق في {dateTime}',
							'completedOn': 'يفتح في {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'de': {
							'brackets': '({content})',
							'dueOn': 'Geschlossen am {dateTime} um',
							'completedOn': 'Öffnet am {dateTime} um',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'es': {
							'brackets': '({content})',
							'dueOn': 'Cerrado el {dateTime}',
							'completedOn': 'Se abre el día {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'fi': {
							'brackets': '({content})',
							'dueOn': 'Suljettu {dateTime}',
							'completedOn': 'Avautuu {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'fr': {
							'brackets': '({content})',
							'dueOn': 'Fermé le {dateTime} à',
							'completedOn': 'Ouvert le {dateTime} à',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'ja': {
							'brackets': '（{content}）',
							'dueOn': '{dateTime} にクローズ',
							'completedOn': '{dateTime} にオープン',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'ko': {
							'brackets': '({content})',
							'dueOn': '닫힘 일시: {dateTime}',
							'completedOn': '열림 일시 {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'nb': {
							'brackets': '({content})',
							'dueOn': 'Closed {dateTime}',
							'completedOn': 'Opens on {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'nl': {
							'brackets': '({content})',
							'dueOn': 'Gesloten {dateTime}',
							'completedOn': 'Opent op {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'pt': {
							'brackets': '({content})',
							'dueOn': 'Fechado em {dateTime}',
							'completedOn': 'Abre em {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'sv': {
							'brackets': '({content})',
							'dueOn': 'Stängdes {dateTime}',
							'completedOn': 'Öppnas {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'tr': {
							'brackets': '({content})',
							'dueOn': 'Şu tarihte kapandı: {dateTime}',
							'completedOn': 'Şu tarihte açılacak: {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'zh': {
							'brackets': '({content})',
							'dueOn': '已于 {dateTime} 关闭',
							'completedOn': '于 {dateTime} 开启',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						},
						'zh-tw': {
							'brackets': '({content})',
							'dueOn': '關閉於 {dateTime}',
							'completedOn': '開啟於 {dateTime}',
							'dueToday': 'Due Today',
							'completedToday': 'Completed Today',
							'dueTomorrow': 'Due Tomorrow',
							'completedTomorrow': 'Completed Tomorrow',
							'dueYesterday': 'Due Yesterday',
							'completedYesterday': 'Completed Yesterday',
							'dueDaysAgo': 'Due {number} Days Ago',
							'completedDaysAgo': 'Completed {number} Days Ago',
						}
					};
				}
			}
		}
	};

	/*
	* @polymerBehavior D2L.PolymerBehaviors.UserActivityUsage.LocalizeBehavior
	*/
	D2L.PolymerBehaviors.UserActivityUsage.LocalizeBehavior = [
		D2L.PolymerBehaviors.LocalizeBehavior,
		D2L.PolymerBehaviors.UserActivityUsage.LocalizeBehaviorImpl
	];
</script>
